@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #45214A;
    height: 100vh;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

#logo {
    color: #22df6a;
}

main {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #613766, #4c2c50);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.75);
    transition: 0.5s;
}

main h1 {
    text-align: center;
    color: #22df6a;
}

main input {
    width: 100%;
    margin: 20px 0px;
    padding: 15px;
    background-color: #696969;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 50px hsla(0, 0%, 0%, 0.5);
    box-sizing: border-box;
    transition: 0.5s;
}

main p {
    margin: 30px 0px;
    color: white;
    transition: 0.5s;
}

main label {
    cursor: pointer;
}

#logo img {
    transition: 0.5s;
}

main button {
    height: 50px;
    width: 100%;
    background-color: #22df6a;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 30px #20df6980;
    cursor: pointer;
    transition: 0.0125s;
}

main button:hover {
    box-shadow: 0px 10px 50px #20df6980;
}

main button:active {
    box-shadow: 0px 0px 0px #20df6980;
}

@media screen and (max-width: 1075px) {
    main {
        width: 200px;
        transition: 0.5s;
    }

    main p {
        margin: 5px 0px;
        transition: 0.5s;
    }

    main input {
        padding: 10px;
        transition: 0.5s;
    }

    #logo img {
        width: 450px;
        transition: 0.5s;
    }

    main button {
        height: 40px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 850px) {
    body {
        background-image: linear-gradient(to bottom, #45214A, #241127);
        flex-direction: column;
        transition: 0.5s;
    }

    #logo {
        height: auto;
        transition: 0.5s;
    }

    #logo h1 {
        text-align: center;
        transition: 0.5s;
    }

    #logo img {
        display: none;
        transition: 0.5s;
    }

    main p {
        margin: 30px 0px;
        transition: 0.5s;
    }

    main input {
        padding: 15px;
        transition: 0.5s;
    }

    main button {
        height: 50px;
        transition: 0.5s;
    }
}